.about__container{
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
  align-items: center;
  line-height: 1.5;
  background: #776c6590;
  border-radius: 15px;
  min-height: 70vh;
  padding: 20px 40px;
}
.about__article{
  font-size: 56px;
  font-weight: 600;
}
.about__inf{
  font-size: 34px;
  font-weight: 500;
}
.about__desc{
  font-size: 34px;
  font-weight: 500;
}