.meat__item{
  background: #776c6590;
  border-radius: 15px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  transition: transform .3s linear;
  &:hover{
    transform: scale(1.05);
  }

  .meat__img{
    width: 260px;
    height: 260px;
    object-fit: cover;
    margin-top: 10px;
  }
  .meat__name{
    font-size: 24px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .meat__link{
    text-decoration: none;
    align-self: center;
    padding: 5px 10px;
    font-size: 24px;
    background: #776c65;
    color:white;
    border-radius: 10px;
    justify-self: flex-end;
    transition: all .5s ease;
    border: 2px solid white;
    font-weight: 500;
    margin-bottom: 10px;
    &:hover{
      background: white;
      border:3px solid #5D5C61;
      color:#5D5C61;
      transform: scale(1.1);
    }
  }
}