* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  background: linear-gradient(to bottom, rgba(142,141,156,1) 5%, transparent, rgba(215,219,228,1) 60%),
  url("./../public/images/bg.jpg") center top no-repeat;
}

.container {
  width: 1280px;
  margin: 40px auto;
  flex: 1 1;
  margin-top: 135px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgba(1,1,1,50)
}